body,html{
    margin: 0;
    padding: 0;
}


header, nav, section, footer{
    border: 0px solid transparent;
    padding: 5px;
    box-sizing: border-box;
}

/* Header Part */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34495E;
    position: sticky;
    top: 0px;
    z-index: 999;
    height: 75px;
}

.navigation {
    margin-right: 20px; 
}

.navigation ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation ul li{
    list-style: none;
    display: inline-block;
    margin-left: 80px; 
    font-size: 17px;
    position: relative;

}

.navigation ul li a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transition: color 0.3s ease;
}

.navigation ul li a:after{
    content:'';
    height: 3px;
    width: 0;
    background: #c0392b;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navigation ul li a:hover::after{
    width: 100%;
}

.navigation ul li a:hover{
    color: #c0392b;
}


/* Home */

.home {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    height: 100vh;
}

.home1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 50%;
}

.text h1 {
    font-size: 2em;
    color: #c0392b;
    margin-bottom: 20px;
}

.text p {
    font-size: 1em;
    color: black;
    line-height: 1.6;
    margin-bottom: 20px;
}

.image img {
    width: 500px;
    height: auto;
    border-radius: 50%;
}
.more-btn{
    margin-top: 20px;
    border: 2px solid #c0392b;
    border-radius: 20px;
    background-color: #ecf0f1;
    color: #c0392b;
    width: 200px;
    height: 60px;
    font-size: 26px;
    margin: 30px 10px; 
  }
  .more-btn:hover {
    background-color: #c0392b;
    color: #FFFFFF;
    box-shadow: 0 0 20px #c0392b;
}

/* More */
.more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 50%;
}

.head {
    font-size: 1.5em;
    color: #c0392b;
    margin-bottom: 20px;
}

.text p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* History */

.history{
    background-color: #ecf0f1;
}
.educ-container{
	width: 100%;
	padding: 35px 10%;
	padding-right: calc(10% - 30px);
}
main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.col .title{
	font-family: helvetica;
	color: #c0392b;
	padding: 0px 0px 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #c0392b;
	border: 2px solid white;
}
.box h4{
	position: relative;
	color: #c0392b;
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: #444;
}
.box p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}
@media(max-width: 768px){
	main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
}


/* Key */

.aboutme{
    background-color: #000000;
    box-shadow: 0 0 20px #89CFF0;
}

.roww{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about1{
    flex-basis: 35%;
}

.about1 .slideshow {
    position: relative;
    height: 100%;
}
  
.about1 .slide {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.about1 .slide:first-child {
    display: block;
}

.about1 img{
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.about2{
    flex-basis: 65%;
}

.about2 h1{
    font-size: 60px;
    font-weight: 600;
    color: #c0392b;
}

.tab-titles{
    display: flex;
    margin: 20px 0 30px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #c0392b;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 20px 0;

}

.tab-contents ul li span{
    color: #c0392b;
    font-size: 18px;
    font-weight: 400;
}

.tab-contents ul li p{
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
}
.tab-contents{
    display: none;
}


.tab-contents.active-tab{
    display: block;
}

.progress{
    background-color: rgb(223, 219, 219);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 35px;
    width: 100%;
}

.pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: #89CFF0;
    height: 35px;
    width: 0;
}

.pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: #89CFF0;
    height: 35px;
    width: 0;
}

.pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: #89CFF0;
    height: 35px;
    width: 0;
}

.pro-value4{
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: #89CFF0;
    height: 35px;
    width: 0;
}

.pro-value5{
    animation: load5 3s normal forwards;
    border-radius: 50px;
    background-color: #89CFF0;
    height: 35px;
    width: 0;
}

.progress p{
    color: white;
    padding: 16px;
    font-weight: 500;
}

@keyframes load1{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}

@keyframes load2{
    0%{
        width: 0;
    }
    100%{
        width: 77%;
    }
}

@keyframes load3{
    0%{
        width: 0;
    }
    100%{
        width: 82%;
    }
}

@keyframes load4{
    0%{
        width: 0;
    }
    100%{
        width: 94%;
    }
}

@keyframes load5{
    0%{
        width: 0;
    }
    100%{
        width: 83%;
    }
}


/* Evolution */

.evolution{
    background-color: #ECF0F1;
}

.title {
    padding: 20px;
}

.title h2 {
    font-size: 40px;
    color: #c0392b;
    margin-bottom: 20px;
}

.title p {
    font-size: 1em;
    color: black;
    line-height: 1.6;
    margin-bottom: 20px;
}